[Unit]
Description=LLM Server (vLLM API)
After=network.target

[Service]
WorkingDirectory=/home/eb3-brayan/
ExecStart=/usr/bin/python3 -m vllm.entrypoints.openai.api_server \
    --model Qwen/Qwen2.5-7B-Instruct \
    --host 0.0.0.0 \
    --port 8000 \

Restart=always
RestartSec=5

User=eb3-brayan
Group=eb3-brayan

StandardOutput=append:/var/log/vllm_server.log
StandardError=append:/var/log/vllm_server_error.log

[Install]
WantedBy=multi-user.target